body {
    background-color: skyblue;
    font-family: "Caveat", cursive;
}

footer {
    background-color: rgba(40, 222, 247, 0.527);
    color: darkgrey;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font: 0.6rem;
    margin-top: 0.5rem;
}

#container {
    display: flex;
}

.cartão- {
    margin: 1rem 1rem;
    background-color: rgba(159, 201, 240, 0.74);
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33%- 6rem);
}

.cartão_conteudo {
    text-align: center;
    background-color: rgb(117, 200, 238);
    height: 100%;
}

.cartão_conteudo h3 {
    background-color: rgba(176, 179, 248, 0.877);
    color: rgba(255, 255, 255, 0.623);
    text-align: left;
    padding: 0.5rem;
    margin: 0.6rem;
    font-size: 1vw;
}